.textarea-field__wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.textarea-field__label {
  font-weight: 600;
  font-size: 16px;
  color: var(--black);
}

.textarea-field__textarea {
  border: 1px solid var(--grey-light);
  border-radius: 16px;
  padding: 13px 20px;
  width: 100%;
  max-width: 667px;
  height: 122px;
  background: var(--white);
  color: var(--black);
  resize: none;
  font-weight: 400;
  font-size: 16px;
}

.textarea-field__textarea:focus {
  border-color: var(--lavender);
  outline: none;
}

.textarea-field__textarea:hover {
  border-color: var(--lavender);
  outline: none;
}

.textarea-field__textarea:disabled {
  background: var(--grey-light);
  border: 1px solid var(--grey-light);
  cursor: not-allowed;
}

@media (min-width: 631px) and (max-width: 983px) {
  .textarea-field__textarea {
    max-width: 648px;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .textarea-field__textarea {
    font-weight: 400;
    font-size: 14px;
  }
  .textarea-field__label {
    font-weight: 600;
    font-size: 14px;
  }
}
