.about-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}

.about-info__line_top {
  border: 1.5px solid var(--lavender);
  width: 25px;
  height: 0px;
}

.about-info__info__desc {
  font-weight: 400;
  font-size: 20px;
  color: var(--grey-dark);
}

@media (max-width: 500px) {
  .about-info__info__desc {
    font-weight: 400;
    font-size: 14px;
  }
}
