.interests {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 44px;
  max-width: 353px;
  width: 100%;
}

.interests__title {
  font-weight: 700;
  font-size: 24px;
  color: var(--black);
}

.interests__item-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 44px;
}

.interests__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px; 
}

.interests__icon-container {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 2px solid var(--lavender);
}

.interests__icon {
  fill: var(--lavender);
  height: 24px;
  width: 24px;
}

.interests__text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.interests__text__title {
  font-weight: 600;
  font-size: 20px;
  color: var(--black);
}

.interests__text__desc {
  font-weight: 400;
  font-size: 20px;
  color: var(--black);
}

/* @media (min-width: 984px) and (max-width: 1020px) {
  .interests__text__title {
    font-size: 16px;
  }

  .interests__text__desc {
    font-size: 16px;
  }
} */

/* Mobile */
@media (max-width: 500px) {
  .interests {
    max-width: 246px;
    gap: 28px;
  }

  .interests__wrapper {
    gap: 8px; 
  }

  .interests__item-container {
    gap: 26px;
  }

  .interests__title {
    font-weight: 600;
    font-size: 20px;
    color: var(--black);
  } 

  .interests__text__title {
    font-size: 14px;
  }
  
  .interests__text__desc {
    font-size: 14px;
  }

  .interests__icon {
    height: 18px;
    width: 18px;
  }

  .interests__icon-container {
    width: 44px;
    height: 44px;
    display: flex;
  }
}