.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  max-width: 1280px;
  width: 100%;
  height: 64px;
  padding: 0 20px;
  background: var(--white);
  margin: 0 auto;
}

.header__actions {
  display: flex;
  align-items: center;
}

.header__actions-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__actions-item {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: var(--grey-dark);
  cursor: pointer;
}

.active {
  color: var(--lavender);
}

.header__menu-icon {
  display: none;
}

@media (max-width: 500px) {
  .header {
    max-width: 100%;
    padding: 0 10px;
  }

  .header__actions-list {
    display: none;
  }

  .header__menu-icon {
    display: flex;
  }
}

@media (min-width: 501px) and (max-width: 983px) {
  .header {
    max-width: 100%;
    padding: 0 39px;
  }
}

@media (min-width: 984px) {
  .header {
    max-width: 1280px;
    padding: 0 85px;
  }
}
