.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  width: 100%;
  height: 64px;
  padding: 0 20px;
  background: var(--white);
  margin: 0 auto;
}

.header__actions {
  display: flex;
  align-items: center;
  position: relative;
}

.header__menu_icon {
  display: none;
  cursor: pointer;
}

.header__actions_list {
  list-style: none;
  display: flex;
  gap: 24px;
  align-items: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.header__actions_list.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 130px;
  top: 64px;
  right: 0;
  background: var(--white);
  padding: 16px;
  gap: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 10;
}

.header__actions_item {
  font-weight: 600;
  font-size: 16px;
  color: var(--grey-dark);
  text-align: center;
  cursor: pointer;
}

.active {
  color: var(--lavender);
}

@media (max-width: 500px) {
  .header {
    padding: 0 10px;
  }

  .header__menu_icon {
    display: flex;
  }

  .header__actions_list {
    display: none;
  }
}


@media (min-width: 501px) and (max-width: 983px) {
  .header {
    max-width: 100%;
    padding: 0 39px;
  }
}

@media (min-width: 984px) {
  .header {
    max-width: 1280px;
    padding: 0 85px;
  }
}