.banner {
  max-width: 1280px;
  width: 100%;
  height: 772px;
  position: relative;
  overflow: hidden;
  padding-left: 85px;
}

.banner__title__text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 32px;
}

.banner__title {
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  color: var(--black);
}

.banner__subtitle {
  font-weight: 400;
  font-size: 20px;
  color: var(--grey-dark);
}

.banner__info__container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 60px;
  max-width: 420px;
  height: 440px;
  width: 100%;
  margin-top: 162px;
}

.banner__text__container-size {
  max-width: 445px;
  height: 114px;
  width: 100%;
}

.banner__photo__container {
  position: absolute;
  right: 0;
  top: 80px;
  /* z-index: -1; */
}

.banner__background {
  position: absolute;
  right: 0;
  left: -800px;
  height: 764px;
  width: 1211px;
  background-image: url("../../assets/images/triangle_bg_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.banner__photo {
  position: absolute;
  height: 689px;
  left: -530px;
  top: 10px;
}

@media (min-width: 793px) and (max-width: 1030px) {
  .banner {
    height: 500px;
    padding-left: 39px;
  }

  .banner__title__text {
    margin-bottom: 0px;
  }

  .banner__info__container {
    margin-top: 44px;
    gap: 44px;
  }

  .banner__photo__container {
    top: 40px;
  }

  .banner__background {
    right: 0;
    left: -540px;
    height: 619px;
    width: 875px;
    top: 30px;
    background-image: url("../../assets/images/triangle_bg_2.png");
  }

  .banner__photo {
    height: 559px;
    left: -400px;
    top: -10px;
  }
}

@media (min-width: 630px) and (max-width: 792px) {
  .banner {
    height: 480px;
    padding-left: 39px;
  }

  .banner__info__container {
    margin-top: 44px;
    gap: 36px;
  }

  .banner__photo__container {
    top: 40px;
  }

  .banner__background {
    right: 0;
    left: -450px;
    height: 489px;
    width: 691px;
    top: 50px;
    background-image: url("../../assets/images/triangle_bg_2.png");
  }

  .banner__photo {
    height: 539px;
    left: -380px;
    top: 10px;
  }

  .banner__text__container-size {
    max-width: 440px;
    height: 120px;
    width: 100%;
  }
}

@media (min-width: 630px) and (max-width: 776px) {
  .banner {
    height: 520px;
    padding-left: 39px;
  }

  .banner__background {
    right: 0;
    left: -400px;
    height: 419px;
    width: 591px;
    top: 140px;
    background-image: url("../../assets/images/triangle_bg_2.png");
  }

  .banner__photo {
    height: 439px;
    left: -300px;
    top: 100px;
  }

  .banner__text__container-size {
    max-width: 350px;
    height: 180px;
    width: 100%;
  }
}

@media (min-width: 501px) and (max-width: 629px) {
  .banner {
    height: 704px;
    padding-left: 15px;
  }

  .banner__info__container {
    margin-top: 44px;
    gap: 36px;
  }

  .banner__photo__container {
    top: 250px;
  }

  .banner__background {
    right: 0;
    left: -440px;
    height: 479px;
    width: 675px;
    top: 80px;
    background-image: url("../../assets/images/triangle_bg_2.png");
  }

  .banner__photo {
    height: 459px;
    left: -320px;
    top: 50px;
  }

  .banner__text__container-size {
    max-width: 350px;
    height: 150px;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .banner {
    height: 504px;
    padding-left: 15px;
  }

  .banner__title {
    font-weight: 700;
    font-size: 24px;
  }

  .banner__info__container {
    margin-top: 27px;
    gap: 27px;
  }

  .banner__subtitle {
    font-weight: 400;
    font-size: 14px;
  }

  .banner__text__container-size {
    max-width: 290px;
    height: 87px;
    width: 100%;
  }

  .banner__photo {
    height: 367px;
    left: -200px;
    top: 125px;
  }

  .banner__background {
    right: 0;
    left: -250px;
    width: 477px;
    height: 362px;
    top: 140px;
    background-image: url("../../assets/images/triangle_bg_3.png");
  }

}