.about {
  max-width: 1280px;
  width: 100%;
  height: 1148px;
  padding-top: 100px;
}

.about_title {
  color: var(--black);
  margin-bottom: 80px;
}

.about_container {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.about_main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.get_in_touch {
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin-bottom: 4px;
  margin-right: 3px;
  max-width: 537px;
  width: 100%;
}

.about_info {
  max-width: 537px;
  width: 100%;
  height: auto;
}

.about_interests_education {
  max-width: 1110px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 20px;
}

.button_mobile {
  display: none;
}

@media (max-width: 792px) {
  .about {
    max-width: 1280px;
    width: 100%;
    height: 1442px;
    padding-top: 82px;
  }

  .about_container {
    gap: 61px;
  }

  .about_main {
    gap: 38px;
  }

  .get_in_touch {
    gap: 41px;
    max-width: 380px;
    width: 100%;
  }

  .about_info {
    max-width: 380px;
  }

  .about_interests_education {
    flex-direction: column;
    gap: 74px;
  }
}

@media (max-width: 694px) {
  .about {
    height: 1748px;
  }

  .about_main {
    flex-direction: column;
    align-items: flex-start;
  }

  .button_web_tablet {
    display: none;
  }

  .button_mobile {
    display: flex;
  }
}

@media (max-width: 500px) {
  .about {
    height: 1263px;
    padding-top: 48px;
  }

  .about_title {
    margin-bottom: 36px;
  }

  .about_container {
    row-gap: 42px;
    column-gap: 0px;
  }

  .about_main {
    display: flex;
    flex-direction: column;
    gap: 33px;
  }

  .about_info {
    width: 290px;
    height: 91px;
  }

  .about_interests_education {
    flex-direction: column;
    gap: 47px;
  }
}
