.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 48px;
  padding: 48px 48px;
  border-radius: 16px;
  max-width: 764px;
  max-height: 567px;
  width: 100%;
  height: 100%;
  background: var(--white);
}

.form_title {
  color: var(--black);
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.field_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.btn_submit {
  width: 147px;
}

@media (max-width: 792px) {
  .form {
    padding: 48px 32px;
    gap: 49px;
  }
}

@media (max-width: 624px) {
  .form {
    max-width: 764px;
    max-height: 767px;
    width: 100%;
    height: 100%;
    background: var(--white);
  }
}

@media (max-width: 500px) {
  .form {
    max-width: 490px;
    max-height: 625px;
    padding: 48px 21px;
    gap: 37px;
  }

  .form_title {
    margin: 0 auto;
    width: 260px;
  }

  .form__container {
    display: flex;
    flex-direction: column;
    gap: 37px;
  }

  .field_container {
    gap: 31px;
  }
}
